In [2]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

corpus = ['data science is one of the most important fields of science',
          'this is one of the best data science courses',
          'data scientists analyze data' ]

labels = [0,1,0]

tf_idf_model = TfidfVectorizer()
tf_idf_vector = tf_idf_model.fit_transform(corpus)
tf_idf_vector

<3x14 sparse matrix of type '<class 'numpy.float64'>'
	with 21 stored elements in Compressed Sparse Row format>

In [3]:
tf_idf_model.get_feature_names_out()

array(['analyze', 'best', 'courses', 'data', 'fields', 'important', 'is',
       'most', 'of', 'one', 'science', 'scientists', 'the', 'this'],
      dtype=object)

In [5]:
pd.DataFrame(tf_idf_vector.toarray() , columns = tf_idf_model.get_feature_names_out())

,analyze,best,courses,data,fields,important,is,most,of,one,science,scientists,the,this
0,0.000000,0.000000,0.000000,0.189526,0.320895,0.320895,0.244049,0.320895,0.488098,0.244049,0.488098,0.000000,0.244049,0.000000
1,0.000000,0.400294,0.400294,0.236420,0.000000,0.000000,0.304434,0.000000,0.304434,0.304434,0.304434,0.000000,0.304434,0.400294
2,0.542701,0.000000,0.000000,0.641055,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.542701,0.000000,0.000000

In [ ]:
from skelearn